* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: black;
}

:root {
  --main-orange: #ff9900;
  --secondary-green: #00cc66;
  --text-gray: #a7a7a7;
}

p {
  font-size: 1rem;
  color: var(--text-gray);
}

h1 {
  /* You might need to change this a bit */
  color: white;
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  /* You might need to change this a bit */
  color: white;
  font-size: 2rem;
  font-weight: 700;
}

.btn-orange {
  /* You might need to change this a bit */
  background-color: var(--main-orange);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

/*css for blogs.html*/
.blogs-h1 {
  margin: 20px 3.3em;
}

.blogs-header {
  display: flex;
  margin: 20px 10em;
  gap: 100px;

  img {
    border-radius: 20px;
  }

  h1 {
    line-height: 2;
  }

  p:first-of-type {
    color: orange;
    font-size: 15px;
    margin-top: 50px;
  }

  p {
    line-height: 1.5;
    color: white;
    font-size: 24px;
    font-weight: 300;
    max-width: 25em;
    letter-spacing: 0.5px;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.blogs-section {
  display: flex;
  gap: 30px;
  margin: 50px 10em;

  img {
    border-radius: 20px;
  }

  h2 {
    line-height: 2;
    font-size: 26px;
    font-weight: 700;
  }

  h2,
  p {
    margin-left: 15px;
  }
}

/*css for single-blog.html*/
.single-blog-section {
  /*Container for all single-blog elements*/
  display: grid;
  grid-template-columns: 450px, 1fr;
  gap: 20rem;

  .para {
    /* All paragrapgh */
    line-height: 1.7;
    color: white;
    font-size: 24px;
    max-width: 25em;
    letter-spacing: 0.5px;
    max-width: 45rem;
    margin: 30px auto;
  }

  #left-para {
    /*Left paragrapgh*/
    max-width: 444px;
  }

  aside {
    /*Fixed h1 and p on the left*/
    margin: 80px 0 50px 140px;
    position: fixed;

    a {
      display: inline-block;
      font-size: 22px;
      text-decoration: none;
      color: gray;
    }

    h1 {
      line-height: 1.4;
      max-width: 300px;
      margin: 50px 0 20px 0;
    }
  }

  img:first-of-type {
    border-radius: 20px;
    margin: 60px 0 0 0;
  }
  img:last-of-type {
    margin: 10px 0 50px 0;
    border-radius: 20px;
  }

  .single-blog-right-side {
    /*Container for all right side elements*/
    grid-column: 2;
    justify-items: center;

    p:first-of-type {
      font-weight: 600;
    }
    h1 {
      margin: 40px 0 40px -25rem;
    }
  }
}

/*css for developers.html*/
.developers-header {
  background: linear-gradient(to bottom, black, rgb(246, 139, 0));
  text-align: center;
  overflow: hidden;
  height: 350px;
  clip-path: ellipse(70% 95% at 50% 5%);

  h1 {
    margin: 100px 0 30px 0;
  }
  p {
    font-size: 20px;
    line-height: 1.7;
    color: white;
    font-size: 24px;
    letter-spacing: 0.5px;
  }
}

.developers-img {
  margin: 80px;
  text-align: center;
  img {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    margin: 0 30px;
  }
}
.developers-section {
  display: flex;
  justify-content: center;
  gap: 6rem;
  margin-bottom: 50px;

  > p:first-of-type {
    max-width: 46.2rem;
    font-size: 24px;
    letter-spacing: 0.5px;
    line-height: 2;
    color: white;
    margin-top: 30px;
  }

  .developers-section-right-side {
    background-color: rgb(10, 10, 10);
    border: 2px solid orange;
    border-radius: 35px;
    padding: 50px 100px 50px 60px;

    p {
      max-width: 24rem;
      font-size: 22px;
      margin-top: 20px;
      letter-spacing: 0.5px;
      line-height: 1.6;
    }
  }
}
